@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter:wght@500&family=Karla:wght@400;500;600;700&family=Martian+Mono:wght@200;300;400;500;600;700&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: #18181b;
}

code {
  font-family: 'Archivo Black', sans-serif;
  font-family: 'Inter', sans-serif;
  font-family: 'Karla', sans-serif;
  font-family: 'Martian Mono', monospace;
}
@media screen and (max-width: 720px) {
  .socials-icon {
    display: none;
  }
  .socials-icon2 {
    display: inline-block;
  }
  .nav-element > a {
    font-weight: 500;
    font-size: small;
  }
  .wide-window{
    display: none;
  }
}
@media screen and (min-width: 720px) {
  .socials-icon2 {
    display: none;
  }
}
.nav{
  display: absolute;
  background-color: rgba(235, 235, 235, 0.105);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  z-index: 2;
}
.nav-element > a {
  font-weight: 500;
  font-size: large;
}
.nav-element > a:hover{
  color: purple;
  
}

.popup{
  display: absolute;
  width: fit-content;
  margin-left: 4.5%;
  background-color: rgba(235, 235, 235, 0.105);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  z-index: 2;
  padding: 20px 20px;
}

.intro-card{
  width: fit-content;
  background-color: rgba(235, 235, 235, 0.105);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  padding: 10px;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.icon{
  transition: transform 400ms ease;
}
.icon:hover{
  transform: scale(1.1);
}

.card{
  color: white;
  background-size: cover;
  height: 25rem;
  overflow: hidden;
  transition: transform 500ms ease-out;
  z-index: 0;
}
.card:hover,
.card:focus-within{
  transform: scale(1.03);
}

.card-content{
  background: linear-gradient(
    hsl(0 0% 0%/ 0), 
    hsl(0 0% 0%/0.4) 30%, 
    hsl(0 0% 0%/1));
 
}

@media (hover) {
  .card-content{
    transform: translateY(65%);
    transition: transform 500ms ease;
  }
  .card:hover .card-content,
  .card:focus-within .card-content{
    transform: translateY(0);
    transition-delay: 500ms;
  }

  /*prevents glitches*/
  .card:focus-within .card-content{
    transition-duration: 0ms;
  }

  .card--extra{
    opacity: 0;
    transition: transform 500ms linear;
  }
  .card:hover .card--extra,
  .card:focus-within .card--extra{
    opacity: 1;
    transition-delay: 500ms;
  }
}



.card--button:hover{
  color: purple;
}

#canvas {
  position: fixed;
  left: 0;
  width: 100%;
  max-width: 100%;
  z-index: -1;
}